project:
  type: book
  #output-dir: docs
  pre-render:
    - scripts/prerender_subs.py
  post-render:
    - "rm -rf images"
    - "rm -rf content/images"

profile:
  group:
    - [makehtml, makepdf]
  default: makehtml

book:
  title: "A Grammar of Standard Classical Arabic"
  author: "The Authors"
  date: now
  chapters:
    - index.qmd
    - content/intro.qmd
    - content/script.qmd
    - content/noun.qmd
    - content/jumlah_ismiyyah.qmd
    - content/prepositions.qmd
    - content/fi3l_madi.qmd
    - content/na3t.qmd
    - content/diptote.qmd
    - content/dual.qmd
    - content/sound_plural.qmd
    - content/broken_plural.qmd
    - content/idafah.qmd
    - content/irregular_nouns.qmd
    - content/proper_noun.qmd
    - content/vocative.qmd
    - content/ism_ishara.qmd
    - content/mudari3_marfoo3.qmd
    - content/masdar.qmd
    - content/mushtaqqaat.qmd
    - content/mudari3_mansoob.qmd
    - content/mudari3_majzoom.qmd
    - content/passive_voice.qmd
    - content/additional_forms.qmd
    - content/3amal.qmd
    - content/3amal_ism_faa3il.qmd
    - content/ta3alluq_harf_jarr.qmd
    - content/kaana.qmd
    - content/inna_and_its_sisters.qmd
    - content/ma3aani_ism_faa3il.qmd
    - content/sifah_mush.qmd
    - content/dharf.qmd
    - content/maf3ool_mutlaq.qmd
    - content/haal.qmd
    - content/ism_mawsuul.qmd
    - content/istifhaam.qmd
    - content/refs.qmd
    - content/ack.qmd

    # Unused:
    #- content/3amal_masdar.qmd
    #- content/agreement.qmd
    #- content/elatives.qmd
    #- content/group_nouns.qmd
    #- content/ism_faa3il.qmd
    #- content/yes_no_questions.qmd

  downloads: [pdf]
  site-url: https://adamiturabi.github.io/arabic-tutorial-book/
  #cover-image: srchtml/favicon.png

#bibliography: srctex/references.bib

#keep-md: true
filters:
  - arabic-support
  #- filters/autoref-link.lua
  - filters/lingex.lua
  - filters/footnotesize.lua
  - filters/citex.lua
  - filters/translation.lua
  #- filters/subs.lua

tikzarabic:
  cache: true
  format: svg
  scale_html: 1.27978125
  embed_mode: link
  engine: lualatex
  template_html: srctex/tikz-template-html.tex
  template_pdf: srctex/tikz-template-pdf.tex
  libgs: /usr/local/Cellar/ghostscript/10.05.1/lib/libgs.dylib

website:
  favicon: srchtml/favicon.png
  announcement: 
    icon: info-circle
    dismissable: true
    content: "**Alert** - this book is a work in progress and is not yet ready for study."
    type: primary
    position: below-navbar

